@{
    ViewBag.Title = "Home Page";
}
<div>
    <h2 class="text-center">Welcome to the Geraldton Hospital Project, Doctor-Review Feature!</h2>

    <p class="text-center">
        <img src="~/Content/images/feedback.jpg" alt="Photo by Sora Shimazaki from Pexels" />
    </p>

    <p>This assignment has been completed by <strong>Jalaluddin Qureshi</strong>, Humber College, Toronto, Canada. HTTP5204, Winter 2021.</p>
    <p>
        This project is a demonstration of the following technologies:
        <ul>
            <li>ASP.NET WebAPI</li>
            <li>ASP.NET MVC</li>
            <li>Entity Framework</li>
            <li>Language Integrated Query (LINQ)</li>
        </ul>
    </p>

    <p>
    The ERD diagram used for this feature is given as follow. Every doctor can have a review given by the visitor of the website. Each
    review is given for one specific doctor. The rating is given on a scale of 1-5. Validation for the values is applied in the model
    file.
    </p>
    <p class="text-center">
        <img src="~/Content/images/erd.jpg" />
    </p>

</div>

